Checks: >
  -*,
  clang-analyzer-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
WarningsAsErrors: ""
HeaderFilterRegex: "^(examples/c/|tests/c/|include/termisu/)"
FormatStyle: none
