name: Ameba
on:
  push:
    branches: [main]
    paths:
      - "src/**/*.cr"
      - "spec/**/*.cr"
      - ".ameba.yml"
      - ".github/workflows/ameba.yml"
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  ameba:
    name: Lint with Ameba
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Run Ameba
        uses: crystal-ameba/github-action@v0.12.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
