name: Coverage
on:
  push:
    branches: [main]
    paths:
      - "src/**/*.cr"
      - "spec/**/*.cr"
      - ".github/workflows/coverage.yml"
  workflow_dispatch:
permissions:
  contents: read
jobs:
  coverage:
    name: Upload Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Install kcov
        run: |
          sudo apt-get update
          sudo apt-get install -y kcov
      - name: Install dependencies
        run: shards install
      - name: Build test binary
        run: crystal build run_specs.cr -o ./bin/run_specs
      - name: Run tests with coverage
        run: kcov --clean --include-path=./src ./coverage ./bin/run_specs
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          directory: ./coverage
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
