name: Format
on:
  push:
    branches: [main]
    paths:
      - "src/**/*.cr"
      - "spec/**/*.cr"
      - ".github/workflows/format.yml"
      - ".github/actions/**"
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  format:
    name: Check Formatting
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Crystal Environment
        uses: ./.github/actions/setup-crystal
        with:
          install-shards: "false"
          build-hace: "false"
      - name: Check formatting
        run: crystal tool format --check
