name: Format
on:
  push:
    branches: [main]
    paths:
      - "src/**/*.cr"
      - "spec/**/*.cr"
      - ".github/workflows/format.yml"
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  format:
    name: Check Formatting
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Check formatting
        run: crystal tool format --check
