on:
  push:
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Download source
        uses: actions/checkout@v5
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          version: 3.x
      - name: Run tests
        run: task spec
      - name: Run formatter
        run: task format -- --check
      - name: Run Ameba Linter
        uses: crystal-ameba/github-action@v0.12.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
