name: Tests
on:
  push:
    branches: [main]
    paths:
      - "src/**/*.cr"
      - "spec/**/*.cr"
      - ".github/workflows/test.yml"
  pull_request:
    branches: [main]
  workflow_dispatch:
jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    permissions:
      checks: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install Crystal
        uses: crystal-lang/install-crystal@v1
      - name: Cache Crystal shards
        uses: actions/cache@v5
        with:
          path: |
            lib
            ~/.cache/crystal
          key: ${{ runner.os }}-shards-${{ hashFiles('shard.lock') }}
          restore-keys: |
            ${{ runner.os }}-shards-
      - name: Install shards dependencies
        run: shards install
      - name: Install expect (for unbuffer)
        run: sudo apt-get update && sudo apt-get install -y expect
      - name: Run tests
        run: unbuffer crystal spec -v
